@use "../../../styles.scss" as *;

div {
    display: block;
    width: 9.7rem;
    height: 9.7rem;
    background-color: gray;
    border-radius: 6px;
    text-align: center;
    padding: 1rem;
}

img {
    border-radius: 6px;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

@media screen and (min-width: 540px) {
    div {
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (min-width: 630px) {
    div {
        width: 7rem;
        height: 7rem;
    }
}

@media screen and (min-width: 670px) {
    div {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@media screen and (min-width: 720px) {
    div {
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (min-width: 750px) {
    div {
        width: 8.75rem;
        height: 8.75rem;
    }
}

@media screen and (min-width: 825px) {
    div {
        width: 9rem;
        height: 9rem;
    }
}