@use "../../../styles.scss" as *;

div {
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(72, 53, 53, 0.05);
    text-align: center;
}

.card-container {
    display: grid;
    padding: 0.5rem 0 0.5rem 0;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    row-gap: 0.5rem;
}

@media screen and (min-width: 540px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 630px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 750px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr);
    }
}